@media screen and (max-width: 1280px) {
    /* No adjustments */
}
@media screen and (max-width: 1080px) {
    header h1 {
        padding-top: 250px;
    }
}
@media screen and (max-width: 768px) {
    header h1 {
        font-size: 3rem;
    }
    header h3 {
        padding: 5px 0;
        font-size: 2rem;
    }
    header .btn {
        margin: 10px 0;
        padding: 10px 20px;
        font-size: 18px;
    }
}
@media screen and (max-width: 480px) {
    header h1 {
        padding-top: 300px;
        font-size: 2rem;
    }
    header h3 {
        font-size: 1.5rem;
    }
    header .btn {
        font-size: 15px;
    }
}
@media screen and (max-width: 360px) {
    /* No adjustments */
}